{% extends "_layouts/default" %}

{% block main %}

	<div class="page">

		<h1>{{ entry.title }}</h1>

		{% set prevType = null %}
        {% set nextType = null %}

        {% cache unless not craft.config.cache %}

	        {% for block in entry.pageContent %}

	        	{% set type = (nextType ?: block.type.handle) %}
	            {% set nextType = (not loop.last ? block.next().type.handle) %}

	            {% switch type %}

	            	{% case '' %}

	            {% endswitch %}

	            {% set prevType = type %}

	        {% endfor %}

	    {% endcache %}

	</div>

{% endblock %}