lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/uploads
craft/app
craft/storage
craft/plugins

# API keys and secrets
.env.prod

# Dependency directory
node_modules
bower_components

# Editors
*.sublime

# OS metadata
.DS_Store
Thumbs.db