{% extends "_layouts/default" %}

{% if year is not defined %}
    {% set year = now.year %}
    {% redirect "blog/archive/" ~ now.year %}
{% endif %}

{% if year is defined and month is defined %}
    {% set archiveDate = year ~ "-" ~ month ~ "-01" %}
{% endif %}

{% block main %}

	<div class="page">

		<h1>Archive for {{ archiveDate|date("F") }} {{ year }}</h1>

		{% cache unless not craft.config.cache %}
			{% paginate craft.entries.section("post").after(year).before(year + 1).limit(10) as pagination, posts %}
			{% set vars = {
				"posts": posts,
				"pagination": pagination
			} %}
			{% include "_includes/post/post-loop" with vars %}
		{% endcache %}

	</div>

{% endblock %}