{% extends "_layouts/default" %}

{% set currentCategory = craft.categories.title(category)%}

{% block main %}

	<div class="page">

		<h1>Category {{ category }}</h1>

		{% cache unless not craft.config.cache %}
			{% paginate craft.entries.section("post").relatedTo(currentCategory).limit(10) as pagination, posts %}
			{% set vars = {
				"posts": posts,
				"pagination": pagination
			} %}
			{% include "_includes/post/post-loop" with vars %}
		{% endcache %}

	</div>

{% endblock %}