{% extends "_layouts/default" %}

{% block main %}

	<div class="page">

		<h1>Posts</h1>

		{% cache unless not craft.config.cache %}
			{% paginate craft.entries.section('blog').limit(10) as pagination, posts %}
			{% set vars = {
				"posts": posts,
				"pagination": pagination
			} %}
			{% include "_includes/post/post-loop" with vars %}
		{% endcache %}

	</div>

{% endblock %}