{% extends "_layouts/base" %}

{% block body %}
    <!--[if lt IE 10]>
        <p class="siteBrowserUpgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="siteContainer" role="document">
        {% include "_includes/header" %}
        <div class="siteContainer-content">
            {% block main %}
                <p>Run!! The Unicorns are Attacking!</p>
            {% endblock %}
        </div>
        {% include "_includes/footer" %}
    </div>
{% endblock %}